<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }

    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        display: none;
        position: fixed;
        bottom: 0;
        right: 15px;
        border: 3px solid #f1f1f1;
        z-index: 9;
    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: white;
    }

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }
    .plane-btn {
        box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.25);
        bottom: 0;
        position: fixed;
        right: 1em;
        transform: translatey(23.5em);
        transition: all 300ms ease;
        width: 18.5em;
        display: flex;
        background: none;
        border: none;
        color: #aaa;
        padding: 1em;
        all: unset;
        cursor: pointer;
    }

    /* Set a style for the submit/send button */

    /* Add a red background color to the cancel button */

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }

    .chatbox-icons {
        padding: 0 10px 0 0;
        display: flex;
        position: relative;
    }
</style>
<div class="panel-body">
    <div class="chat-popup" id="myForm">
        <form class="form-container">
            <div class="chatbox-icons" class="plane-btn" >
                <a onclick="minForm()"><i class="fa fa-minus" ></i></a>
                <a onclick="closeForm()"><i class="fa fa-close"></i></a> 
            </div>
            <div class="form-group">
                <p>
                    <input id="nickText" type="text" style="padding: 5px; border: 1px solid;">
                    <button id="nick" style="padding: 5px;">Name</button>
                </p>
                <textarea style="height: 300px;width: 100%; border: 1px solid;"></textarea>
                <hr/>
                <p>
                    <input id="chatText" type="text" style="padding: 5px; width: 85%; border: 1px solid;">
                    <button id="chat" type="submit" class="plane-btn" ><i class="fas fa-paper-plane"></i></button>
                </p>
            </div>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        function minForm() {
            document.getElementById("myForm").style.display = "none";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</div>
<script src="/socket.io/socket.io.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script>
        var socket = io.connect()
        let isNickSet = false
        socket.on('chat', (data) => {
            $('textarea').val($('textarea').val() + data + '\n')
        })

        socket.on('userlist', (data) => {
            $('#activeuser').empty()
            data.map((item) => {
                $('#activeuser').append(`nickname: <strong>${item}</strong><br/>`)
            })
            let total = data.length;
            document.getElementById('listuser').innerHTML = total
            $('b').val(total)
        })
        $(function () {
            $('#nick').on('click', function (event) {
                event.preventDefault()
                socket.emit('nick', $('#nickText').val())
                $('#nick').hide()
                isNickSet = true
            })

            $('#chat').on('click', (event) => {
                event.preventDefault()
                if (isNickSet) {
                    socket.emit('chat', {
                        message: $('#chatText').val()
                    })
                }
                $('#chatText').val('')
            })

        })
    </script>