</div>
<div class="footer"><br>
    <div class="footer-padding" style="padding-left:20px;padding-right:10px;">
        <div class="container">
            <a href="" class="navbar-brand"><i class="fas fa-tree mr-2"></i>Update 24X7</a>
          </div>
        <p> <i class="fa fa-phone" style="font-size:16px;" aria-hidden="true"> 1-800-234-5678</i></p>
        <a style="color:white;" href ="#"><p class="fa" style="float:left;font-size:16px">Copyright <i class="fa fa-copyright" aria-hidden="true">2021 </i>
         </a></p>
        <div id="pageFooter">
        </div>
    </div>
</div>