<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Header</title>
<link href="https://fonts.googleapis.com/css?family=Karla:400,700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.8.95/css/materialdesignicons.min.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel ="stylesheet" href ="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/solid.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<style>
    /* header navigation bar */
    .navbar-dark .navbar-nav .nav-link:focus {
        color: white;
        background-color: grey;
    }
</style>
<style>
    /* footer */
    .footer {
        bottom: 0;
        height: 10vh;
        background-color: lightslategrey;
        color: whitesmoke;
    }

    /* Displays page number in footer */
    body {
        counter-reset: page;
        background-color: #d0d0ce;
    }

    #pageFooter {
        page-break-before: always;
        counter-increment: page;
    }

    #pageFooter:after {
        display: block;
        text-align: right;
        content: ""counter(page);
    }

    #pageFooter.first.page {
        page-break-before: avoid;
    }
</style>

<style>

    .content-width {
        margin: auto;
        width: 75%;

    }

    .NewsPages {
        display: inline;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

        <a href="" class="navbar-brand"><i class="fa fa-align-justify" title="Align Justify"></i> Update 24X7 Admin</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-justified w-50">

            <li class="nav-item ">

                <a class="nav-link" href="/admin/newsForm"><b> NewsForm</b> <span class="sr-only">(current)</span></a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="/admin/getNews"><b>EditNews</b></a>

            </li>

            <li class="nav-item">

                <a class="nav-link" href="/admin/logout"><b>Logout</b></a>

            </li>
        </ul>

    </div>

</nav>
