<style>
    body {
        font-family: Arial, Helvetica, sans-serif;
    }
    /* Button used to open the chat form - fixed at the bottom of the page */
    .open-button {
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        opacity: 0.8;
        position: fixed;
        bottom: 23px;
        right: 28px;
        width: 280px;
    }

    /* The popup chat - hidden by default */
    .chat-popup {
        width: 300px;
        display: none;
        position: fixed;
        bottom: 30px;
        right: 15px;
        z-index: 9;

    }

    /* Add styles to the form container */
    .form-container {
        max-width: 300px;
        padding: 10px;
        background-color: #bad3ef;
        background-color: #555;
        color: white;
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        position: fixed;
        bottom: 15px;
        right: 40px;
        width: 280px;
        border-radius: 20px;
        z-index: 10;
        opacity: 1;
    }

    .name-btn {
        padding: 5px;
        margin: -5px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        color: #2d2727;
    }

    .name-txt {
        padding: 5px;
        border: 1px solid;
        margin: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
        width: 70%;
    }

    /* Full-width textarea */
    .form-container textarea {
        width: 100%;
        padding: 15px;
        margin: 5px 0 22px 0;
        border: none;
        background: #f1f1f1;
        resize: none;
        min-height: 200px;
    }

    /* When the textarea gets focus, do something */
    .form-container textarea:focus {
        background-color: #ddd;
        outline: none;
    }

    .plane-btn {
        width: 37px;
    }

    /* Add some hover effects to buttons */
    .form-container .btn:hover,
    .open-button:hover {
        opacity: 1;
    }

    .chatbox-icons {
        padding: 0 10px 0 0;
        display: flex;
        position: relative;
    }

    .chat-txt {
        height: 365px;
        width: 100%;
        border: 1px solid;
        margin-bottom: 0;
        border-radius: 5px;
    }

    .close-btn {
        width: 29px;
        height: 25px;
        position: absolute;
        top: 3px;
        right: 4px;
        background: transparent;
        color: white;
        border-top-right-radius: 19px;
    }

    .send-txt{
        padding: 5px;
        width: 85%;
        padding: 5px;
        border: 1px solid;
        margin: 0;
        border-top-left-radius: 5px;
        border-bottom-left-radius: 5px;
    }
</style>
<div class="panel-body">
    <div class="chat-popup" id="myForm">
        <form class="form-container">
                <span>Chat</span>
                <button onclick="closeForm()" class="close-btn">X</button>
            <div class="form-group">
                <p>
                    <span id="nickLabel" style="display: none;"></span>
                    <input id="nickText" type="text" class="name-txt">
                    <button id="nick" class="name-btn">Name</button>
                </p>
                <textarea class="chat-txt"></textarea>
                <p>
                    <input id="chatText" type="text" class="send-txt">
                    <button id="chat" type="submit" class="name-btn plane-btn"><i
                            class="fas fa-paper-plane"></i></button>
                </p>
            </div>
        </form>
    </div>

    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>

</div>
<script src="/socket.io/socket.io.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script>
    var socket = io.connect()
    let isNickSet = false
    socket.on('chat', (data) => {
        $('textarea').val($('textarea').val() + data + '\n')
    })

    socket.on('userlist', (data) => {
        $('#activeuser').empty()
        data.map((item) => {
            $('#activeuser').append(`nickname: <strong>${item}</strong><br/>`)
        })
        let total = data.length;
        document.getElementById('listuser').innerHTML = total
        $('b').val(total)
    })
    $(function () {
        $('#nick').on('click', function (event) {
            event.preventDefault()
            socket.emit('nick', $('#nickText').val())
            $('#nick').hide()
            $('#nickText').hide()
            $('#nickLabel').html($('#nickText').val()).show()
            isNickSet = true
        })

        $('#chat').on('click', (event) => {
            event.preventDefault()
            if (isNickSet) {
                socket.emit('chat', {
                    message: $('#chatText').val()
                })
            }
            $('#chatText').val('')
        })

    })
</script>