<div class="footer">
    <div class="footer-padding" style="padding-left:20px;padding-right:10px;">

        <div style="display: flex; justify-content: space-between; padding-top:15px;">

            <i class=" fa fa-phone" style="font-size:16px; " aria-hidden="true">
                1-800-234-5678</i>

            <i class="fa fa-align-justify navbar-brand" style="font-size:20px; " title="Align Justify"> Update
                24X7</i>
        </div>

        <div style="display: flex; justify-content: space-between;">
            <a style="color:white;" href="#">
                <p class="fa" style="font-size:16px">Copyright <i class="fa fa-copyright" aria-hidden="true"> 2021</i>
                </p>
            </a>
        </div>
        <div id="pageFooter" style="text-align: right;padding-right:8px;"></div>
    </div>
</div>