body {
    
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    min-height:100%;
    
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}

.contactHead {
    padding: 3%;
    text-align: center;
    background-color: #474e5d;
    color: white;
    text-shadow: -7px 0px 10px black;
}


.row {
    
    width: 100%;
    justify-content: center;
    margin-top: 20px;

}

#box {
    background-color: #002cb195;
    border: 1px solid black;
    width: 900px;
    height: 400px;
    border-radius: 30px;
    
}


.column1 {

    width: 300px;
    padding-top: 20px;
    padding-bottom: 20px;
    display: inline-block;
    
    margin-left: 30px;
    margin-right: 20px;
    
}

.column2 {

    width: 400px;
    padding: 0 8px;
    display: inline-block;
    padding: 20px;
    margin-left: 30px;
    min-width: 300px;
    
    margin-right: 20px;
}

h3 {
    text-align:"center";
    padding-bottom: 2%;
}

label {
    font-size: 25px;
    font-weight: bold;
    font-family:'Antic';
    color: #F5F5F5;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    
}


.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
.title {
    color: grey;
}

.submitBttn {
    padding: 50px;
    text-align: center;
}

.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin: auto;
    
}

#msg {
    margin-bottom: 60px;
    position: relative;
}

.button:hover {
    background-color: #555;
}

.text-center {
    padding-top: 5%;
    padding-bottom: 2%;
}

footer {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 1rem;
    height: 61.73px;
    
}


@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}
