
body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

html {
    box-sizing: border-box;
}
  
*, *:before, *:after {
    box-sizing: inherit;
}
  
.column {

    width: 33.3%;
    padding: 0 8px;
    display: inline-block;
}

.companyLocation {
    width: "600";
    height: "450";
}

.googleMapLocation {
    padding: 2%;
}

.description {
    width: 33.3%;
    padding: 0 8px;
    display: inline-block;
}

h2 {
    text-align:"center";
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 8px;
}
  
.aboutHead {
    padding: 3%;
    text-align: center;
    background-color: #474e5d;
    color: white;
}

.aboutHead2 {
    padding: 3%;
    text-align:"center";
}

.container {
    padding: 0 16px;
}
  
.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
}
  
.title {
    color: grey;
}
  
.button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
}
  
.button:hover {
    background-color: #555;
}

.row {
    padding-bottom: 50px;
}

@media screen and (max-width: 650px) {
    .column {
    width: 100%;
    display: block;
    }
}
