<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Add News</title>
    <%-include('./Partials/header.ejs')%>
</head>

<body>
    <div class="content-width" style="min-height:50vh;background-color:whitesmoke;margin-top:5vh;">
        <h2 style="text-align:center;padding-top:5px;">Add News</h2>
        <div style="padding-left:50px;padding-right:70px;">
            <form name="form1" action="/admin/addNews" method="POST">
                <div class="form-group">

                    <label for="News_title">Title: </label>
                    <input type="text" class="form-control" id="News_title" placeholder="Insert Title" name="News_title" required>

                </div>
                <div class="form-group">
                    <label for="News_description">Description:</label>
                    <textarea class="form-control" id="News_description" placeholder="Insert NewsDecription" name="News_description" required></textarea>
                </div>
                <div class="form-group">

                    <label for="News_url">News Link:</label>
                    <input type="text" class="form-control" id="News_url" placeholder="Insert News Url" name="News_url" required>

                </div>
                <div class="form-group">

                    <label for="News_urlToImage">Image Url:</label>
                    <input type="text" class="form-control" id="News_urlToImage" placeholder="Insert News_urlToImage" name="News_urlToImage" required>

                </div>
                <div class="form-group">
                    <label for="News_publishedAt">Published At:</label>
                    <input type="date" class="form-control" id="News_publishedAt" placeholder="Insert publish date" name="News_publishedAt" required>

                </div>
                <div class="alert alert-info" style=<%=msg?'visibility: visible': 'visibility: hidden' %> id="msg">
                    <%=msg%>
                </div>
                <div class="form-group" style="text-align:center;padding-bottom:20px;">
                    <button type="submit" class="btn btn-primary">Add</button>
                    <input type="reset" class="btn btn-warning" role="button">
                </div>
            </form>

        </div>
    </div>
    
</body>
<footer>
        <%-include('./Partials/footer.ejs')%>
    </footer>

</html>