<!doctype html>
<html lang="en">
<head>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<title>Home</title>

<style>
    /* header navigation bar */
    .navbar-dark .navbar-nav .nav-link:focus {
        color: white;
        background-color: grey;
    }
</style>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Update 24X7 Admin</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav nav-justified w-15">

            <li class="nav-item">
                <a class="nav-link" href="/admin/register"><b>Sign in</b> <span class="sr-only">(current)</span></a>
            </li>
        </ul>

    </div>

</nav>


</head>
<body>
    <div id="login">
        <h3 class="text-center text-white pt-5">Updatex24</h3>
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
                        <form id="login-form" class="form" action="/admin/login" method="post">
                            <h3 class="text-center text-info">LOG IN</h3>
                            <p class="errr"><%=invalid%></p>
					        <p class="succ"><%=msg%></p>
                            <div class="form-group" data-validate = "Valid email is: a@b.c">
                                <label for="User_email" class="text-info">Email</label><br>
                                <input type="email" name="User_Email" id="User_Email" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="User_password" class="text-info">Password</label><br>
                                <input type="password" name="User_Password" id="User_Password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="remember-me" class="text-info"><span>Remember me</span> <span><input id="remember-me" name="remember-me" type="checkbox"></span></label><br>
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="Log In">
                                <input type="reset" name="submit" class="btn btn-info btn-md" value="RESET">
                            </div>
                            <div id="register-link" class="text-right">
                                <a>Don't have an account?</a>
                                <a href="/admin/register" class="text-info">Register</a>        
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>